.pic_slide {
  height: 300px;
  width: 1000px;
  background-color: brown;
  margin-left: auto;
  margin-right: auto;
}

.menu_icons {
  display: block;
  height: 50%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: white;
  margin-left: : auto;
  margin-right: auto;
  text-align: center;
}

.fig_wrapper{
  width: 950px;
  margin-left: auto;
  margin-right: auto;
}

.menu_icons img{
  width: 150px;
  height: 150px;
}

.menu_icons figure {
  width: 150px;
  height: 160px;
  display: inline-block;
}

.menu_icons figure img {
	opacity: 1;
	-webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
}
.menu_icons figure:hover img {
	opacity: .5;
}

.menu_icons figure figcaption{
  text-align: center;
}

.bbs {
  width: 1000px;
  height: 100%;
  background-color: white;
  display: block;
  padding-bottom: 50px;
  background-color: white;
  padding-top: 10px;
  margin-left: : auto;
  margin-right: auto;
}

.bbs ul {
  width: 1000px;
  margin:0;
  list-style: none;
}

.bbs ul li {
  width: 1000px;
  text-align: center;
  display: block;
}
