html, body{
  height: 100%;
  background-color: gray;
  margin: 0;
}

.top_wrapper {
  width: 100%;
  height: 100%;
}

header {
  text-align: center;
  border-bottom: 1px solid black;
}

nav {
  background-color: Black;
  font-size: 0;
  text-align: center;
  padding:0;
  padding-top: 15px;
  width: 100%;
  height: 35px;
  border-bottom: 1px solid black;
}

nav ul {
  margin: auto;
  width: 1000px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  padding : 0;
  padding-bottom: : 5px;
}

nav ul li {
  font-size: 18px;
  width : 200px;
  display: inline-block;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  font-weight: bold;
  text-align: center;
}

nav a:enabled {
    color: white;
}

nav ul li:active {
  border-color: yellow;
  color: yellow;
}

nav ul li:hover {
  border-bottom: 5px solid yellow;
  color: yellow;
}

.display {
  width: 1000px;
  margin: auto;
  height: 100%;
}

iframe {
  border-style: none;
}
