html, body{
  height: 100%;
  background-color: #FFEFCC;
  margin: 0;
}

.top_wrapper {
  width: 100%;
  height: 100%;
}

header {
  height: 120px;
  border-bottom: 1px solid black;
  background-color: #9e1b34;
}

.centerize {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.centerize img {
  padding-top: 15px;
  padding-right: 5px;
}

nav {
  background-color: Black;
  font-size: 0;
  text-align: center;
  padding:0;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid black;
}

nav ul {
  margin: auto;
  width: 1000px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  padding : 0;

}

nav ul li {
  font-size: 18px;
  width : 200px;
  height: 40px;
  display: inline-block;
  list-style: none;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  font-weight: bold;
  text-align: center;
}

nav a:enabled {
    color: white;
}

nav ul li:active {
  border-color: #9e1b34;
  color: #9e1b34;
}

nav ul li:hover {
  color: #9e1b34;
  background-color: white;
}

.display {
  width: 1000px;
  margin: auto;
  height: 100%;
}

iframe {
  border-style: none;
}
